#linkc{
   font-size: 10px;
}
#details-img-card, .w-75>img{
   height: 475px !important;
   margin-bottom: 1%;
}
.card-details{
   height: 475px;
   padding: 0;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   box-shadow: rgba(0, 0, 0, 0.16) 6px 3px 6px, rgba(0, 0, 0, 0.23) 5px 3px 6px;
}
.next-img{
   width: 15%;
   height: 80px;
   object-fit: cover;
   background-position: center;
   
}
#badge{
   scale: 1.5 ;
   cursor: pointer;
   color: grey !important;
}
.w-75>p,.w-75>p>a{
   font-size: 20px;
   color: grey;
}
.w-25>div>i{
   scale: 1.7;
}
.phone_icon{
   width: 40px;
   height: 40px;
   cursor: pointer;
}
.link-container{
   border-bottom: 5px solid rgb(189, 185, 185);
}
.details-links{
   display: inline-block;
   position: relative;
   text-decoration: none;
   font-size: 25px;
   font-weight: 500;
   color: grey;
   margin-right: 5%;
   cursor: pointer;
}
.details-links::after{
   position: absolute;
   left: 0px;
   background-color: red;
   content: '';
   display: block;
   height: 5px;
   transition: width .5s;
   width: 0;
}
.details-links:hover::after{
   width: 100%;
}
.even{
   border-right: 20px grey !important;
   border-bottom: 2px grey;
}
.odd{
   border-left: 2px grey;
   border-bottom: 2px grey;
}
#property-acivity, #property-contact{
   height: 20vh !important;
   cursor: pointer;
   transition: all ease 0.2s;
}
#property-acivity:hover, #property-contact:hover{
   box-shadow: rgba(0, 0, 0, 0.16) 6px 10px 6px, rgba(0, 0, 0, 0.23) 10px 3px 6px;
}
#property-contact{
   background: #E0F0FF;
}
.property-activity-card{
   width: 15%;
   height: 1.5rem;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.property-activity-info{
   scale: 1.2;
}
#property-contact>div{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
#property-contact>div>img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
.contact-details{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   gap: 5%;
   width: 55%;
}
.content{
   display: flex;
   flex-direction: row !important;
   justify-content: space-between;
   align-items: flex-start;
}
.content>p{
   font-size: 15px;
}
#property-contact>div>span{
   margin-top: -15%;
}
.modal-details>.row{
   justify-content: center !important;
   margin-left: 6%;
}
.modal-details>.row>p{
   font-size: 15px;
}
