*{
    padding: 0;
    margin: 0;
}
.footer-content>div>h1{
    font-size: 70px;
}
.part-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8%;
    gap: 10%;
}
.part-2>h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7%;
}
.socials-1>span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.socials-1>span>i{
    scale: 2;
    padding-bottom: 3%;
}
.socials-1>span>p{
    width: 100% !important;
    color: rgb(67, 67, 67);
}

@media (max-width:1151px) {
    .footer-main, .socials-1{
        padding: 0 3% 0 3%;
    }
}
@media (max-width:861px) {
    .part-1>*{
        font-size: 18px ;
        margin-bottom: 5%;
    }
    .socials>div{
        padding-top: 2% !important;
        padding-bottom: 1% !important;
    }
}
@media (max-width:776px) {
    .part-1{
        width: 70% !important;
    } 
    .part-2{
        width: 30% !important;
        justify-content: flex-end;
    }
}
@media (max-width:551px) {
    .footer-content>div>h1{
        width: 100%;
        font-size: 60px;
    }
    .part-1>*{
        font-size: 17px;
    }
    .footer-content>div:nth-child(2){
        display: flex;
        flex-direction: column;
        padding-bottom: 2% !important;
    }
    .part-1{
        width: 100% !important;
    }
    .part-2{
        width: 100% !important;
        justify-content: flex-start;
        padding: 0 3% 0 3%;
    }
    .part-2>h5>*{
        font-size: 15px !important;
    }
}
@media (max-width:426px) {
    .footer-content>div>h1{
        font-size: 55px;
    }
    .part-1>*{
        font-size: 16px;
    }
    .socials-1>span{
        height: 60px;
        gap: 10%;
    }
    .socials-1>span>p{
        font-size: 15px;
    }
}
@media (max-width:375px) {
    .footer-content>div>h1{
        font-size: 45px;
    }
    .part-1>*, .part-2>h5>*{
        font-size: 12px !important;
    }
    .socials-1>span{
        margin-top: 2%;
        height: 45px;
        
    }
}