*{
    padding: 0;
    margin: 0;
}
.footer-content>div>h1{
    font-size: 70px;
}
.part-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8%;
    gap: 10%;
}
.part-2>h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7%;
}
.socials-1>span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.socials-1>span>i{
    scale: 2;
    padding-bottom: 3%;
}
.socials-1>span>p{
    color: rgb(67, 67, 67);
}