*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
.home{
    background-image: url("../assets/image_buuilding.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 4;
    margin-top: -5%;
    object-fit: contain;
    height: 101vh;
}
.bg-image{
    height: 100%;
    backdrop-filter: blur(3px);
}
